{
  "openapi": "3.0.3",
  "info": {
    "title": "AgentGuard Policy Engine API",
    "description": "**AgentGuard** is a runtime security platform for AI agents. It provides policy-based evaluation,\naudit trails, PII detection, MCP server governance, agent hierarchy management, and OWASP compliance reporting.\n\n## Authentication\n\nAgentGuard uses three authentication schemes:\n\n- **API Key** (`x-api-key` header): Your tenant API key, prefixed `ag_live_`. Used for most authenticated endpoints.\n- **Agent Key** (`x-api-key` header): Agent-scoped key, prefixed `ag_agent_`. Used for evaluate calls from specific agents.\n- **Admin Key** (`x-admin-key` header or `x-api-key`): Platform admin key. Required for admin-only endpoints.\n\n## Rate Limits\n\n- Unauthenticated: 10 requests/min per IP\n- Authenticated: 100 requests/min per IP\n- Signup: 5 per hour per IP\n\n## Base URL\n\nProduction: `https://api.agentguard.dev/api/v1`\n",
    "version": "0.9.0",
    "contact": {
      "name": "AgentGuard Support",
      "url": "https://agentguard.dev"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.agentguard.dev/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Account creation, login, and API key management"
    },
    {
      "name": "Evaluate",
      "description": "Core policy evaluation engine"
    },
    {
      "name": "Agents",
      "description": "Agent registry and lifecycle management"
    },
    {
      "name": "Audit",
      "description": "Tamper-evident audit trail"
    },
    {
      "name": "Webhooks",
      "description": "Event-driven webhook subscriptions"
    },
    {
      "name": "Policy",
      "description": "Custom policy rule management"
    },
    {
      "name": "Approvals",
      "description": "Human-in-the-loop approval queue"
    },
    {
      "name": "Analytics",
      "description": "Usage and platform analytics"
    },
    {
      "name": "Feedback",
      "description": "User feedback collection"
    },
    {
      "name": "Telemetry",
      "description": "Anonymous SDK telemetry"
    },
    {
      "name": "Compliance",
      "description": "OWASP Agentic Top 10 compliance reports"
    },
    {
      "name": "PII",
      "description": "Personally Identifiable Information detection and redaction"
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol server governance"
    },
    {
      "name": "Slack",
      "description": "Slack HITL (Human-in-the-Loop) integration"
    },
    {
      "name": "Agent Hierarchy",
      "description": "A2A multi-agent policy propagation and child agent management"
    },
    {
      "name": "Playground",
      "description": "Interactive policy testing without full auth"
    },
    {
      "name": "Templates",
      "description": "Pre-built policy templates"
    },
    {
      "name": "Kill Switch",
      "description": "Emergency stop controls"
    },
    {
      "name": "Health",
      "description": "System health and status"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Tenant API key (prefixed `ag_live_`) or agent key (prefixed `ag_agent_`)"
      },
      "AdminKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Platform admin key (set via ADMIN_KEY environment variable)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT bearer token (future use)"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "Invalid API key"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Additional error details (validation errors)"
          }
        }
      },
      "PolicyDecision": {
        "type": "object",
        "required": [
          "result",
          "riskScore",
          "reason"
        ],
        "properties": {
          "result": {
            "type": "string",
            "enum": [
              "allow",
              "block",
              "monitor",
              "require_approval"
            ],
            "description": "Policy decision outcome"
          },
          "riskScore": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000,
            "description": "Computed risk score (0=safe, 1000=maximum risk)"
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation of the decision"
          },
          "matchedRuleId": {
            "type": "string",
            "nullable": true,
            "description": "ID of the policy rule that matched"
          },
          "durationMs": {
            "type": "number",
            "description": "Evaluation duration in milliseconds"
          },
          "approvalId": {
            "type": "string",
            "nullable": true,
            "description": "Approval request ID (only when result=require_approval)"
          },
          "piiDetected": {
            "type": "boolean",
            "description": "Whether PII was detected in the request params"
          },
          "piiEntityCount": {
            "type": "integer",
            "description": "Number of PII entities detected"
          }
        }
      },
      "AgentObject": {
        "type": "object",
        "required": [
          "id",
          "tenantId",
          "name",
          "active",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Agent unique identifier"
          },
          "tenantId": {
            "type": "string",
            "description": "Parent tenant ID"
          },
          "name": {
            "type": "string",
            "description": "Agent display name"
          },
          "apiKey": {
            "type": "string",
            "description": "Agent API key (only returned on creation)"
          },
          "policyScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tools this agent is scoped to"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the agent is currently active"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "framework": {
            "type": "string",
            "description": "Agent framework (e.g., \"langchain\", \"autogen\")"
          },
          "declaredTools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Tools declared by this agent during validation"
          },
          "validationCoverage": {
            "type": "number",
            "nullable": true,
            "description": "Policy coverage percentage (0-100)"
          },
          "certifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "WebhookObject": {
        "type": "object",
        "required": [
          "id",
          "url",
          "events",
          "active",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "block",
                "killswitch",
                "hitl",
                "*"
              ]
            }
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuditEntry": {
        "type": "object",
        "required": [
          "id",
          "tool",
          "result",
          "riskScore",
          "timestamp"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tool": {
            "type": "string"
          },
          "result": {
            "type": "string",
            "enum": [
              "allow",
              "block",
              "monitor",
              "require_approval"
            ]
          },
          "riskScore": {
            "type": "integer"
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "agentId": {
            "type": "string",
            "nullable": true
          },
          "sessionId": {
            "type": "string",
            "nullable": true
          },
          "ruleId": {
            "type": "string",
            "nullable": true
          },
          "durationMs": {
            "type": "number"
          },
          "hash": {
            "type": "string",
            "description": "SHA-256 hash of this entry (chained with previous)"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PolicyRule": {
        "type": "object",
        "required": [
          "id",
          "action",
          "when"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "priority": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000
          },
          "action": {
            "type": "string",
            "enum": [
              "allow",
              "block",
              "monitor",
              "require_approval"
            ]
          },
          "when": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "severity": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "critical"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "riskBoost": {
            "type": "integer"
          }
        }
      },
      "PolicyDocument": {
        "type": "object",
        "required": [
          "id",
          "name",
          "version",
          "default",
          "rules"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "default": {
            "type": "string",
            "enum": [
              "allow",
              "block",
              "monitor"
            ]
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PolicyRule"
            }
          }
        }
      },
      "ApprovalObject": {
        "type": "object",
        "required": [
          "id",
          "tool",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "agentId": {
            "type": "string",
            "nullable": true
          },
          "tool": {
            "type": "string"
          },
          "params": {
            "type": "object",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "resolvedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resolvedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ComplianceReport": {
        "type": "object",
        "required": [
          "reportId",
          "score",
          "reportType",
          "generatedAt",
          "controls"
        ],
        "properties": {
          "reportId": {
            "type": "string",
            "format": "uuid"
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Compliance score percentage"
          },
          "reportType": {
            "type": "string",
            "example": "owasp-agentic-top10"
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "controls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pass",
                    "fail",
                    "partial",
                    "not_applicable"
                  ]
                },
                "score": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "PIIScanResult": {
        "type": "object",
        "required": [
          "entitiesFound",
          "entities",
          "redactedContent"
        ],
        "properties": {
          "entitiesFound": {
            "type": "integer",
            "description": "Total number of PII entities found"
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "EMAIL"
                },
                "start": {
                  "type": "integer"
                },
                "end": {
                  "type": "integer"
                },
                "score": {
                  "type": "number"
                }
              }
            }
          },
          "redactedContent": {
            "type": "string",
            "description": "Input content with PII replaced by [REDACTED_TYPE] placeholders"
          },
          "dryRun": {
            "type": "boolean"
          }
        }
      },
      "MCPServerObject": {
        "type": "object",
        "required": [
          "id",
          "name",
          "url",
          "active",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "allowedTools": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "blockedTools": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TemplateObject": {
        "type": "object",
        "required": [
          "id",
          "name",
          "version",
          "ruleCount"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "owasp-agentic"
          },
          "name": {
            "type": "string",
            "example": "OWASP Agentic Top 10"
          },
          "version": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ruleCount": {
            "type": "integer"
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Returns API and database health status. No authentication required.",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "System is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "degraded"
                      ]
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "ok",
                  "version": "0.7.2"
                }
              }
            }
          },
          "503": {
            "description": "System degraded (database unreachable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/setup": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Agent-readable setup guide",
        "description": "Returns a step-by-step guide any AI agent can follow to integrate AgentGuard.\nNo authentication required. This is the zero-friction onboarding path: an agent\nreads this endpoint and does the rest.\n",
        "operationId": "getSetupGuide",
        "security": [],
        "responses": {
          "200": {
            "description": "Setup guide",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "AgentGuard"
                    },
                    "tagline": {
                      "type": "string"
                    },
                    "instructions": {
                      "type": "string"
                    },
                    "tryNow": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "headers": {
                          "type": "object"
                        },
                        "body": {
                          "type": "object"
                        },
                        "expectedResult": {
                          "type": "object"
                        },
                        "note": {
                          "type": "string"
                        }
                      }
                    },
                    "fullSetup": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "step": {
                            "type": "integer"
                          },
                          "action": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "headers": {
                            "type": "object"
                          },
                          "body": {
                            "type": "object"
                          },
                          "note": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "defaultPolicy": {
                      "type": "object"
                    },
                    "sdks": {
                      "type": "object"
                    },
                    "links": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/detailed": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Detailed health check",
        "description": "Returns component-level health status including database latency, uptime,\nand version information. Designed for k8s liveness/readiness probes and\nmonitoring dashboards. No authentication required.\n",
        "operationId": "healthCheckDetailed",
        "security": [],
        "responses": {
          "200": {
            "description": "All components healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "degraded"
                      ]
                    },
                    "version": {
                      "type": "string"
                    },
                    "uptime": {
                      "type": "integer",
                      "description": "Server uptime in seconds"
                    },
                    "components": {
                      "type": "object",
                      "properties": {
                        "database": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": [
                                "ok",
                                "error"
                              ]
                            },
                            "latencyMs": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "example": {
                  "status": "ok",
                  "version": "0.9.0",
                  "uptime": 86400,
                  "components": {
                    "database": {
                      "status": "ok",
                      "latencyMs": 2
                    }
                  },
                  "timestamp": "2024-01-15T10:00:00Z"
                }
              }
            }
          },
          "503": {
            "description": "System degraded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "degraded"
                      ]
                    },
                    "version": {
                      "type": "string"
                    },
                    "components": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create tenant account",
        "description": "Create a new tenant account and receive an API key. The API key is shown **only once** — store it securely.\nRate limited to 5 signups per hour per IP.\n",
        "operationId": "signup",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Organization or user name",
                    "example": "Acme Corp"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Contact email address",
                    "example": "security@acme.com"
                  }
                }
              },
              "example": {
                "name": "Acme Corp",
                "email": "security@acme.com"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tenantId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "apiKey": {
                      "type": "string",
                      "description": "Your API key — store this securely, not shown again",
                      "example": "ag_live_a1b2c3d4e5f6..."
                    },
                    "dashboard": {
                      "type": "string",
                      "format": "uri"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "tenantId": "550e8400-e29b-41d4-a716-446655440000",
                  "apiKey": "ag_live_a1b2c3d4e5f67890abcd1234",
                  "dashboard": "https://app.agentguard.dev",
                  "message": "Account created. Store your API key securely — it will not be shown again."
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid email format"
                }
              }
            }
          },
          "409": {
            "description": "Email already registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Retrieve API key by email",
        "description": "Retrieve an existing tenant's API key using their email address.\nThis is a recovery mechanism — treat responses carefully.\n",
        "operationId": "login",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "security@acme.com"
                  }
                }
              },
              "example": {
                "email": "security@acme.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tenantId": {
                      "type": "string"
                    },
                    "apiKey": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No account found for this email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/keys/rotate": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Rotate API key",
        "description": "Generate a new API key and invalidate the current one. The new key is shown only once.",
        "operationId": "rotateKey",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "New API key generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "type": "string",
                      "description": "New API key — store securely"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/evaluate": {
      "post": {
        "tags": [
          "Evaluate"
        ],
        "summary": "Evaluate an agent action",
        "description": "The core evaluation endpoint. Submits an agent action (tool call) to the policy engine\nand receives a decision: `allow`, `block`, `monitor`, or `require_approval`.\n\nAuthentication is optional — unauthenticated calls use the default policy.\nAuthenticated calls use tenant-specific custom policies.\n",
        "operationId": "evaluate",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tool"
                ],
                "properties": {
                  "tool": {
                    "type": "string",
                    "maxLength": 200,
                    "pattern": "^[a-zA-Z0-9_.\\-:]+$",
                    "description": "Tool name being requested",
                    "example": "file_read"
                  },
                  "params": {
                    "type": "object",
                    "description": "Tool parameters (key-value pairs)",
                    "example": {
                      "path": "/etc/config.yaml"
                    }
                  },
                  "agentId": {
                    "type": "string",
                    "description": "Agent identifier for scoped evaluation"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Session identifier for grouping audit events"
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "userId": {
                        "type": "string"
                      },
                      "environment": {
                        "type": "string",
                        "example": "production"
                      }
                    }
                  },
                  "messageHistory": {
                    "type": "array",
                    "description": "Recent conversation history for context-aware detection",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "system"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "allow_example": {
                  "summary": "File read (typically allowed)",
                  "value": {
                    "tool": "file_read",
                    "params": {
                      "path": "/var/log/app.log"
                    },
                    "agentId": "my-agent-001"
                  }
                },
                "block_example": {
                  "summary": "Shell exec (typically blocked)",
                  "value": {
                    "tool": "shell_exec",
                    "params": {
                      "command": "rm -rf /tmp"
                    },
                    "agentId": "my-agent-001"
                  }
                },
                "approval_example": {
                  "summary": "Sensitive DB query (requires approval)",
                  "value": {
                    "tool": "db_query",
                    "params": {
                      "table": "users"
                    },
                    "agentId": "my-agent-001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy decision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDecision"
                },
                "examples": {
                  "allow": {
                    "value": {
                      "result": "allow",
                      "riskScore": 10,
                      "reason": "Matched rule: allow-read-operations",
                      "matchedRuleId": "rule-allow-read",
                      "durationMs": 3.2,
                      "approvalId": null
                    }
                  },
                  "block": {
                    "value": {
                      "result": "block",
                      "riskScore": 500,
                      "reason": "Shell execution is blocked by security policy",
                      "matchedRuleId": "rule-block-shell",
                      "durationMs": 2.8,
                      "approvalId": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/evaluate/batch": {
      "post": {
        "tags": [
          "Evaluate"
        ],
        "summary": "Batch evaluate agent actions",
        "description": "Evaluate up to 50 tool calls in a single request. Each call is evaluated in parallel\nagainst the same effective policy. Individual call failures do not fail the batch.\nReturns per-call decisions plus an aggregate summary.\n",
        "operationId": "evaluateBatch",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "calls"
                ],
                "properties": {
                  "agentId": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Agent identifier (applied to all calls)"
                  },
                  "sessionId": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Session identifier for grouping audit events"
                  },
                  "messageHistory": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant",
                            "system"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "calls": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "description": "Tool calls to evaluate (1–50)",
                    "items": {
                      "type": "object",
                      "required": [
                        "tool"
                      ],
                      "properties": {
                        "tool": {
                          "type": "string",
                          "maxLength": 200,
                          "pattern": "^[a-zA-Z0-9_.\\-:]+$"
                        },
                        "params": {
                          "type": "object"
                        },
                        "context": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "agentId": "my-agent-001",
                "calls": [
                  {
                    "tool": "file_read",
                    "params": {
                      "path": "/var/log/app.log"
                    }
                  },
                  {
                    "tool": "shell_exec",
                    "params": {
                      "command": "rm -rf /tmp"
                    }
                  },
                  {
                    "tool": "db_query",
                    "params": {
                      "table": "users"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch evaluation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batchId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "tool": {
                            "type": "string"
                          },
                          "decision": {
                            "type": "string",
                            "enum": [
                              "allow",
                              "block",
                              "monitor",
                              "require_approval"
                            ]
                          },
                          "riskScore": {
                            "type": "integer"
                          },
                          "matchedRuleId": {
                            "type": "string",
                            "nullable": true
                          },
                          "durationMs": {
                            "type": "number"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "suggestion": {
                            "type": "string"
                          },
                          "docs": {
                            "type": "string"
                          },
                          "alternatives": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "approvalId": {
                            "type": "string"
                          },
                          "approvalUrl": {
                            "type": "string"
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "allowed": {
                          "type": "integer"
                        },
                        "monitored": {
                          "type": "integer"
                        },
                        "blocked": {
                          "type": "integer"
                        },
                        "requireApproval": {
                          "type": "integer"
                        }
                      }
                    },
                    "batchDurationMs": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "batchId": "550e8400-e29b-41d4-a716-446655440099",
                  "results": [
                    {
                      "index": 0,
                      "tool": "file_read",
                      "decision": "allow",
                      "riskScore": 10,
                      "matchedRuleId": "rule-allow-read",
                      "durationMs": 2.1
                    },
                    {
                      "index": 1,
                      "tool": "shell_exec",
                      "decision": "block",
                      "riskScore": 500,
                      "matchedRuleId": "rule-block-shell",
                      "durationMs": 1.8,
                      "reason": "Shell execution is blocked by security policy",
                      "suggestion": "Use a safer alternative like file_read or file_write"
                    }
                  ],
                  "summary": {
                    "total": 2,
                    "allowed": 1,
                    "monitored": 0,
                    "blocked": 1,
                    "requireApproval": 0
                  },
                  "batchDurationMs": 5.4
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create agent",
        "description": "Register a new agent and receive a scoped agent API key.\nAgent keys (prefixed `ag_agent_`) are scoped to this agent's policy and cannot create tenant accounts.\n",
        "operationId": "createAgent",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 200,
                    "example": "customer-support-bot"
                  },
                  "framework": {
                    "type": "string",
                    "description": "Agent framework",
                    "example": "langchain"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "policyScope": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tools this agent is allowed to use",
                    "example": [
                      "file_read",
                      "db_read_public"
                    ]
                  }
                }
              },
              "example": {
                "name": "customer-support-bot",
                "framework": "langchain",
                "policyScope": [
                  "file_read",
                  "db_read_public",
                  "send_email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentObject"
                },
                "example": {
                  "id": "550e8400-e29b-41d4-a716-446655440001",
                  "tenantId": "550e8400-e29b-41d4-a716-446655440000",
                  "name": "customer-support-bot",
                  "apiKey": "ag_agent_a1b2c3d4e5f67890abcd1234",
                  "policyScope": [
                    "file_read",
                    "db_read_public"
                  ],
                  "active": true,
                  "createdAt": "2024-01-15T10:00:00Z",
                  "note": "Store the apiKey securely — it will not be shown again."
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Agent name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agents",
        "description": "List all active agents for the authenticated tenant.",
        "operationId": "listAgents",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agent list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentObject"
                      }
                    }
                  }
                },
                "example": {
                  "agents": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440001",
                      "name": "customer-support-bot",
                      "active": true,
                      "createdAt": "2024-01-15T10:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get agent",
        "description": "Retrieve details for a specific agent.",
        "operationId": "getAgent",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/validate": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Validate agent tools",
        "description": "Dry-run an agent's declared tools through the policy engine to check coverage.\nReturns per-tool decisions without logging to the audit trail.\nRequired before certification.\n",
        "operationId": "validateAgent",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "declaredTools"
                ],
                "properties": {
                  "declaredTools": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "List of tool names the agent will use",
                    "example": [
                      "file_read",
                      "db_read_public",
                      "send_email"
                    ]
                  }
                }
              },
              "example": {
                "declaredTools": [
                  "file_read",
                  "db_read_public",
                  "send_email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation results with coverage percentage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agentId": {
                      "type": "string"
                    },
                    "coverage": {
                      "type": "number",
                      "description": "Policy coverage percentage (0-100)"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tool": {
                            "type": "string"
                          },
                          "decision": {
                            "type": "string",
                            "enum": [
                              "allow",
                              "block",
                              "monitor",
                              "require_approval"
                            ]
                          },
                          "ruleId": {
                            "type": "string",
                            "nullable": true
                          },
                          "riskScore": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "agentId": "550e8400-e29b-41d4-a716-446655440001",
                  "coverage": 100,
                  "results": [
                    {
                      "tool": "file_read",
                      "decision": "allow",
                      "ruleId": "rule-allow-read",
                      "riskScore": 10
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/certify": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Certify agent",
        "description": "Mark an agent as certified after achieving 100% policy coverage during validation.\nCertified agents appear with a badge in the dashboard.\n",
        "operationId": "certifyAgent",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent certified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agentId": {
                      "type": "string"
                    },
                    "certified": {
                      "type": "boolean"
                    },
                    "certifiedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agent has not achieved 100% coverage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/readiness": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get agent readiness status",
        "description": "Check an agent's current validation coverage and certification status.",
        "operationId": "getAgentReadiness",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent readiness status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agentId": {
                      "type": "string"
                    },
                    "certified": {
                      "type": "boolean"
                    },
                    "certifiedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "validationCoverage": {
                      "type": "number",
                      "nullable": true
                    },
                    "lastValidatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "ready": {
                      "type": "boolean",
                      "description": "True if certified and validation coverage is 100%"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/audit": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Get audit trail",
        "description": "Retrieve paginated audit trail entries for the authenticated tenant.\nEntries are chained with SHA-256 hashes for tamper detection.\n",
        "operationId": "getAudit",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by agent ID"
          },
          {
            "name": "result",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "allow",
                "block",
                "monitor",
                "require_approval"
              ]
            },
            "description": "Filter by decision result"
          }
        ],
        "responses": {
          "200": {
            "description": "Audit entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditEntry"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "chainValid": {
                      "type": "boolean",
                      "description": "Whether the hash chain is valid"
                    }
                  }
                },
                "example": {
                  "entries": [
                    {
                      "id": "audit-001",
                      "tool": "file_read",
                      "result": "allow",
                      "riskScore": 10,
                      "timestamp": "2024-01-15T10:00:01Z",
                      "hash": "abc123..."
                    }
                  ],
                  "total": 1,
                  "chainValid": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/audit/events": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Cursor-based paginated audit events",
        "description": "Retrieve audit events using cursor-based pagination. More efficient than offset-based\npagination for large audit trails. Use the `nextCursor` value from the response as the\n`before` parameter in subsequent requests.\n",
        "operationId": "getAuditEvents",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Number of events to return (1–200)"
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Cursor — return events before this ISO 8601 timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated audit events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditEntry"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Cursor for the next page (null if no more events)"
                    }
                  }
                },
                "example": {
                  "events": [
                    {
                      "id": "audit-001",
                      "tool": "file_read",
                      "result": "allow",
                      "riskScore": 10,
                      "timestamp": "2024-01-15T10:00:01Z",
                      "hash": "abc123..."
                    }
                  ],
                  "nextCursor": "2024-01-15T10:00:01Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/audit/repair": {
      "post": {
        "tags": [
          "Audit"
        ],
        "summary": "Repair audit chain",
        "description": "Re-compute the hash chain for the tenant's audit trail. Use when hashes are\nout of sync due to migration or data import.\nRequires admin key.\n",
        "operationId": "repairAuditChain",
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Audit chain repaired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "repaired": {
                      "type": "boolean"
                    },
                    "entriesUpdated": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Register a webhook URL to receive real-time event notifications.\nWebhook payloads are HMAC-signed with your optional secret.\nOnly HTTPS URLs are accepted; private/internal IPs are rejected (SSRF protection).\n",
        "operationId": "createWebhook",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL to receive webhook POST requests",
                    "example": "https://hooks.example.com/agentguard"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "block",
                        "killswitch",
                        "hitl",
                        "*"
                      ]
                    },
                    "description": "Events to subscribe to (default: [block, killswitch])"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Optional secret for HMAC signature verification"
                  }
                }
              },
              "example": {
                "url": "https://hooks.example.com/agentguard",
                "events": [
                  "block",
                  "killswitch"
                ],
                "secret": "my-webhook-secret"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "List all registered webhooks for the authenticated tenant.",
        "operationId": "listWebhooks",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookObject"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update an existing webhook's URL, events, or secret.",
        "operationId": "updateWebhook",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "block",
                        "killswitch",
                        "hitl",
                        "*"
                      ]
                    }
                  },
                  "secret": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "active": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookObject"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Remove a webhook registration.",
        "operationId": "deleteWebhook",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/policy": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "Get active policy",
        "description": "Retrieve the tenant's current effective policy (custom or default).",
        "operationId": "getPolicy",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current policy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tenantId": {
                      "type": "string"
                    },
                    "isCustom": {
                      "type": "boolean"
                    },
                    "policy": {
                      "$ref": "#/components/schemas/PolicyDocument"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policy"
        ],
        "summary": "Update policy",
        "description": "Replace the tenant's custom policy with a new set of rules.\nAccepts either a full PolicyDocument or an array of PolicyRule objects.\nMaximum 500 rules per policy.\n",
        "operationId": "updatePolicy",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PolicyRule"
                    },
                    "description": "Array of policy rules"
                  },
                  {
                    "$ref": "#/components/schemas/PolicyDocument"
                  }
                ]
              },
              "example": {
                "rules": [
                  {
                    "id": "my-rule-001",
                    "description": "Block file deletion",
                    "priority": 100,
                    "action": "block",
                    "when": [
                      {
                        "tool": {
                          "in": [
                            "file_delete",
                            "rm"
                          ]
                        }
                      }
                    ],
                    "severity": "high"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tenantId": {
                      "type": "string"
                    },
                    "ruleCount": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "policy": {
                      "$ref": "#/components/schemas/PolicyDocument"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid policy rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/approvals": {
      "get": {
        "tags": [
          "Approvals"
        ],
        "summary": "List pending approvals",
        "description": "List all pending human-in-the-loop approval requests for this tenant.",
        "operationId": "listApprovals",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Pending approvals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "approvals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApprovalObject"
                      }
                    }
                  }
                },
                "example": {
                  "approvals": [
                    {
                      "id": "approval-001",
                      "tool": "db_query",
                      "params": {
                        "table": "users"
                      },
                      "status": "pending",
                      "createdAt": "2024-01-15T10:05:00Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/approvals/{id}/resolve": {
      "post": {
        "tags": [
          "Approvals"
        ],
        "summary": "Resolve approval",
        "description": "Approve or reject a pending HITL approval request.",
        "operationId": "resolveApproval",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "decision"
                ],
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "reject"
                    ],
                    "description": "Resolution decision"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the decision"
                  }
                }
              },
              "example": {
                "decision": "approve",
                "reason": "Verified legitimate use case"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approval resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalObject"
                }
              }
            }
          },
          "404": {
            "description": "Approval not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/usage": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Usage analytics",
        "description": "Retrieve evaluation usage analytics for the past 30 days.",
        "operationId": "getUsageAnalytics",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Usage analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalEvaluations": {
                      "type": "integer"
                    },
                    "blocked": {
                      "type": "integer"
                    },
                    "allowed": {
                      "type": "integer"
                    },
                    "monitored": {
                      "type": "integer"
                    },
                    "requireApproval": {
                      "type": "integer"
                    },
                    "avgResponseMs": {
                      "type": "number"
                    },
                    "dailyBreakdown": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/platform": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Platform analytics",
        "description": "Platform-wide analytics across all tenants.\n**Requires admin key.**\n",
        "operationId": "getPlatformAnalytics",
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Platform-wide analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalTenants": {
                      "type": "integer"
                    },
                    "totalEvaluations": {
                      "type": "integer"
                    },
                    "activeAgents": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Admin key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Usage statistics",
        "description": "Retrieve evaluation usage statistics for the authenticated tenant.\nIncludes total evaluations, breakdowns by result, last 24h count,\ntop blocked tools, and average response time.\n",
        "operationId": "getUsageStats",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tenantId": {
                      "type": "string"
                    },
                    "totalEvaluations": {
                      "type": "integer"
                    },
                    "blocked": {
                      "type": "integer"
                    },
                    "allowed": {
                      "type": "integer"
                    },
                    "monitored": {
                      "type": "integer"
                    },
                    "requireApproval": {
                      "type": "integer"
                    },
                    "last24h": {
                      "type": "integer",
                      "description": "Evaluations in the last 24 hours"
                    },
                    "topBlockedTools": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tool": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "avgResponseMs": {
                      "type": "number",
                      "description": "Average evaluation response time in milliseconds"
                    }
                  }
                },
                "example": {
                  "tenantId": "550e8400-e29b-41d4-a716-446655440000",
                  "totalEvaluations": 1250,
                  "blocked": 42,
                  "allowed": 1100,
                  "monitored": 95,
                  "requireApproval": 13,
                  "last24h": 87,
                  "topBlockedTools": [
                    {
                      "tool": "shell_exec",
                      "count": 25
                    },
                    {
                      "tool": "eval_code",
                      "count": 12
                    }
                  ],
                  "avgResponseMs": 3.45
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/feedback": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Submit feedback",
        "description": "Submit user feedback with a rating (1-5) and optional comment.",
        "operationId": "submitFeedback",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "description": "Rating from 1 (poor) to 5 (excellent)",
                    "example": 5
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 2000,
                    "example": "Great tool, very easy to integrate"
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "Optional agent this feedback relates to"
                  }
                }
              },
              "example": {
                "rating": 5,
                "comment": "Caught a prompt injection that our tests missed!"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "rating": {
                      "type": "integer"
                    },
                    "comment": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Feedback"
        ],
        "summary": "List all feedback",
        "description": "List all feedback submissions across all tenants.\n**Requires admin key.**\n",
        "operationId": "listFeedback",
        "security": [
          {
            "AdminKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feedback": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/telemetry": {
      "post": {
        "tags": [
          "Telemetry"
        ],
        "summary": "Submit SDK telemetry",
        "description": "Anonymous telemetry ping from SDK installations.\nNo authentication required. Rate limited to 5 per minute per IP.\nAlways returns 202 (even for invalid payloads) to avoid breaking SDK integrations.\n",
        "operationId": "submitTelemetry",
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sdk_version": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "1.2.3"
                  },
                  "language": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "python"
                  },
                  "node_version": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "20.0.0"
                  },
                  "os_platform": {
                    "type": "string",
                    "maxLength": 100,
                    "example": "linux"
                  }
                }
              },
              "example": {
                "sdk_version": "1.2.3",
                "language": "python",
                "os_platform": "linux"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Telemetry accepted (always)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/compliance/owasp/generate": {
      "post": {
        "tags": [
          "Compliance"
        ],
        "summary": "Generate OWASP compliance report",
        "description": "Generate an OWASP Agentic Top 10 compliance report based on the tenant's\naudit history and policy configuration. Reports are persisted and retrievable via GET.\n",
        "operationId": "generateOWASPReport",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentId": {
                    "type": "string",
                    "description": "Optional — scope report to a specific agent"
                  }
                }
              },
              "example": {
                "agentId": "my-agent-001"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/compliance/owasp/latest": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Get latest OWASP report",
        "description": "Retrieve the most recently generated OWASP compliance report for this tenant.",
        "operationId": "getLatestOWASPReport",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Latest compliance report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceReport"
                }
              }
            }
          },
          "404": {
            "description": "No report found — generate one first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/compliance/owasp/reports/{id}": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Get compliance report by ID",
        "description": "Retrieve a specific OWASP compliance report by its ID.",
        "operationId": "getOWASPReportById",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Report UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Compliance report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplianceReport"
                }
              }
            }
          },
          "404": {
            "description": "Report not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pii/scan": {
      "post": {
        "tags": [
          "PII"
        ],
        "summary": "Scan content for PII",
        "description": "Detect and redact personally identifiable information (PII) from text content.\nDetects: email addresses, phone numbers, credit card numbers, SSNs, IP addresses,\ndates of birth, names, and more.\n\nRaw PII text is **never** stored — only entity type, position, and confidence score.\n",
        "operationId": "scanPII",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50000,
                    "description": "Text content to scan for PII",
                    "example": "Customer John Smith (john@example.com) called from 555-123-4567"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "If true, scan but don't log to audit trail",
                    "example": false
[...]
